<html>
<head>
    <title>Envoyer un message</title>
</head>
<body>

    <form action="{{ url_for("debug_messages") }}" method="post" enctype="multipart/form-data">
        <input type="text" name="user_id" placeholder="user ID">
        <input type="group" name="group_id" placeholder="group ID">
        <input type="text" name="msg" placeholder="Votre message">
        <input type="file" name="file[]" multiple>
        <input type="submit">
    </form>

    {% if errors %}
    Errors:
    <ul>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <ul>
    {% for group in groups %}
        {{ group.id }} : {{ group.name }}
        <ul>
        {% for block in msg_chain(group) %}
{#            {% set sender = get_sender(block[0]) %}#}
            {% set sender = block[0].sender %}
            <li>
                {{ sender.id }} : {{ sender.name }}
                <ul>
                {% for msg in block %}
                    <li>{{ msg.date }} | {{ msg.content }}
                        {% for attachment in msg.attachments %}
                            <a href="{{ url_for('static', filename = '/uploads/'+attachment.filename) }}" target="_blank">PJ</a>
                        {% endfor %}
                    </li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    {% endfor %}
    </ul>
</body>
</html>