html, body{
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100%
}

body{
    display: flex;
}

.sidebar{
    margin :0;
    padding : 0;
    width: 30%;
    background-color: #FFFFFF;
    height: 100%;
    overflow: auto;
}
.message-history{
    border-top: 1px solid #000000;
    height: 100%;
}
.input-group{
    padding : 10px;
}
#filter-friends{
    margin-left :10px;
}
.chat_img img{
    border-radius: 50%;
    float: left;
    width: 12%;
}

.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_list {
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 18px 16px 10px;
}
.chat_list:hover{
    background-color: #dddddd;

}
ul {
    padding: 0;
}

.message_notif{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    color: #9C9C9C ;
}

.chat_date{
    float:right;
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.main-panel{
    width: 70vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 0;
    background-color: black;
    color: white;
    font-family: Helvetica;
}

.msg-section{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: Helvetica;
}

.pp {
  transform: scale(0.8);
  border-radius: 100%;
  position: relative;

  height: 50px;
  width: 50px;
  margin: 0;
}

.name {
  font: normal 1em 'Trebuchet MS';
  margin: 0;
}

p{
  margin: 0;
}

.date {
  margin: 0;
  visibility: hidden;
  position: absolute;
  right: 10px;
  font: italic 0.8em 'Trebuchet MS';
  color: black;
  background-color: #FFFC;
  padding: 5px;
  border-radius: 6px;
  width: max-content;
  text-align: center;
  z-index: 1;
}

.received-message:hover .date, .sent-message:hover .date {
  visibility: visible;
}

.sent-bubble .date {
  right: 0;
}

.received-block{
  width: 80%;
  display: flex;

  align-items: flex-end;
}

.sent-block{
  width: 80%;
  margin: 20px 0;
  margin-left: auto;
  display: flex;
  align-items: flex-end;
}

.received-message{
  display: flex;
  flex-direction: column;
  width: fit-content;

  border-radius: 1em 1em 1em 0;
  margin-left: 0;
  margin-right: auto;
}

.sent-message{
  display: flex;
  flex-direction: column;
  width: fit-content;

  border-radius: 1em 1em 0 1em;
  margin-left: auto;
  margin-right: 0;
}

.text{
  background-color: #4b4b4b;
  padding: 0.8em 1em;
  text-align: left;
  border-radius: inherit;
  display: inline-block;
  overflow-wrap: break-word;
  position: relative;
  width: fit-content;

  font-size: 1em;
  font-weight: 200;

  margin: 1px 0;
}

.sent-message .text{
  background-color: cornflowerblue;
}

.img{
  max-width: 100%;
  height: 30vh;
  border-radius: inherit;
  margin: 1px 0;
  margin-left: inherit;
  margin-right: inherit;
}
