html, body{
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100%
}

body{
    display: flex;
}

.sidebar{
    margin :0;
    padding : 0;
    width: 30%;
    background-color: #FFFFFF;
    height: 100%;
    overflow: auto;
}
.message-history{
    border-top: 1px solid #000000;
    height: 100%;
}
.input-group{
    padding : 10px;
}
#filter-friends{
    margin-left :10px;
}
.chat_img img{
    border-radius: 50%;
    float: left;
    width: 12%;
}

.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_list {
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 18px 16px 10px;
}
.chat_list:hover{
    background-color: #dddddd;

}
ul {
    padding: 0;
}

.message_notif{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    color: #9C9C9C ;
}

.chat_date{
    float:right;
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.main-panel{
    width: 70vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 0;
    background-color: black;
    color: white;
    font-family: Helvetica;
}

.msg-section{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 0;
    background-color: black;
    color: white;
    font-family: Helvetica;
    overflow-y: auto;
}

.received-row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.name {
    font: normal 1em 'Trebuchet MS';
    margin: 0;
}

.pp {
    transform: scale(0.8);
    border-radius: 100%;
    position: relative;
    justify-self: start;
    align-self: start;

    width: 50px;
    margin: 0;
}

.received-wrap{
    max-width: 50%;
}
.received-bubble {
    background-color: #4b4b4b;
    padding: 0.8em 1em;
    text-align: left;
    border-radius: 0 1em 1em 1em;
    display: inline-block;
    overflow-wrap: break-word;
    position: relative;

    font-size: 1em;
    font-weight: 200;

    margin: 0;
}

p{
    margin: 0;
}

.date {
    margin: 0;
    position: absolute;
    visibility: hidden;
    bottom: -25px;
    font: italic 0.8em 'Trebuchet MS';
    color: black;
    background-color: #FFFC;
    padding: 5px;
    border-radius: 6px;
    width: auto;
    text-align: center;
    z-index: 1;
}

.received-bubble .date {
    left: 0;
}

.received-bubble:hover .date, .sent-bubble:hover .date {
    visibility: visible;
}

.sent-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px 0 10px 0;
}

.sent-bubble{
    background-color: red;
    padding: 0.8em 1em;
    text-align: left;
    border-radius: 1em 0 1em 1em;
    position: relative;
    max-width: 70%;

    font-size: 1em;
    font-weight: 200;

    margin: 0;
}

.sent-bubble .date {
    right: 0;
}

.top-bar {
    border: solid 1px yellow;
    width: 100%;
}

.bottom-bar{
    border: solid 1px green;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

