<ul>
<li>
    <h1>Se connecter</h1>

    <form action="{{ url_for("login") }}" method="post">
        <input type="text" name="user_id" placeholder="Votre ID">
        <input type="submit">
    </form>
</li>

<li>
    <a href="{{ url_for('debug_users') }}">S'inscrire</a>
</li>

<li>
    <h1>Liste des utilisateurs :</h1>
    {% for user in users %}
        <li>{{ user.id }} : {{ user.name }}</li>
    {% endfor %}
</li>
</ul>