<!DOCTYPE html>
<html lang="fr">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/main_view.css") }}"/>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/js/messages.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>

<!-- Modal -->
<div class="modal fade" id="myModal" data-bs-backdrop="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Profil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <div class="pp-container">
                <img class="pp-modal" src="/static/profile_pics/{{ get_user_pp(current_user) }}">
            </div>
            <div class="pp-upload">
                <form class="form-label" method="post" action="{{ url_for("messages", active_group_id=active_group.id) }}" enctype="multipart/form-data" >Changer de photo de profil
                    <input type="file"  name="ppfile" class="form-control"/>
                    <input style="margin-top: 10px" class="btn btn-primary" name="Televerser" value="Envoyer" type="submit">
                </form>
            </div>
            <form class="form-group" method="post" action="{{ url_for("messages", active_group_id=active_group.id) }}">
                <label for="changeName">Changer de nom d'utilisateur</label>
                <input type="text" class="form-control" name="changeName" placeholder="Nouveau nom d'utilisateur">
                <input style="margin-top: 10px" class="btn btn-primary" name="ChangeUserName" value="Envoyer" type="submit">
            </form>
            <div class="data-visu">
                <p>Vous avez envoyé {% set data = get_user_data(current_user) %} {{ data }} Mo de pièces jointes soit l'équivalent de {{ data*20|round(2)}} g de CO2 ou encore {{ (data*20/110)|round(2) }} km parcourus en voiture
                <p>En ajoutant les pièces jointes reçues cela fait un total de {{ get_data_received(current_user) }} Mo
                <p>Un total de {{ get_total_data() }} Mo est stocké dans nos serveurs
            </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newMember" data-bs-backdrop="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Nouveau membre</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <input type="text" id="filter-users" class="form-control" placeholder="Rechercher un utilisateur" aria-label="Search" />
          <ul>
                {% for user in users if user not in active_group.users %}
                    <div class = "user-list">
                        <img class="pp" src="/static/profile_pics/{{ get_user_pp(user) }}">
                        {{ user.name }}
                        <form class="form-group" method="post" action="{{ url_for("messages", active_group_id=active_group.id) }}">
                            <input type="hidden" name="value" value="{{ user.id }}">
                            <input class="btn btn-secondary" type="submit" name="addMember" value="Ajouter">
                        </form>
                    </div>
                {% endfor %}
                </ul>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newConv" data-bs-backdrop="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Nouvelle conversation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
            <form class="form-group" method="post" action="{{ url_for("messages", active_group_id=active_group.id) }}">
                <input type="text" class="form-control" name="convName" placeholder="Nom de conversation">
                <input style="margin-top: 10px" class="btn btn-primary" name="NewConv" value="Créer" type="submit">
            </form>
            </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="convMembers" data-bs-backdrop="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Membres</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <div class="modal-body">
                    <ul>
                        {% for user in active_group.users %}
                            <div class = "userMembers">
                                <img class="pp" src="/static/profile_pics/{{ get_user_pp(user) }}">
                                {{ user.name }}
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="corner-menu">
    <div class="profile-bar">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"></path>
                </svg>
            {{ current_user.name }}
        </button>
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#newConv">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                </svg>
              </button>
    </div>
    <input type="text" id="filter-friends" class="form-control" placeholder="Rechercher une conversation" aria-label="Search" />
</div>
<div class="group-list">
    <ul>
        {% for group in ordered_groups if current_user in group.users %}
            <div class="chat_list" id="{{ group.id }}" data-name="{{ group.name }}">
                <script type="text/javascript">
                    document.getElementById("{{ group.id }}").onclick = function () {
                        location.href = "/{{ group.id }}";
                    };
                </script>
                <div class="chat_people">
                    <div class="new-messages-badge">
                        <span>{{ unread_messages_count(current_user, group) }} message(s) non lus</span>
                    </div>
                    <div class="chat_ib">
                        {% set msg = group.messages | last %}
                        <img class="pp" src="/static/profile_pics/{{ get_user_pp(msg.sender) }}">
                        <div class="message-panel">
                            <h5 style="overflow: clip;text-overflow: ellipsis;white-space: nowrap;">{{ group.name }}  <span class="chat_date"> {{ msg.date.date()}}</span></h5>
                            <p class="message_notif"> {{ msg.sender.name }} : {{ msg.content }} </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <script type="text/javascript">
            document.getElementById("{{active_group.id}}").style.backgroundColor="#dddddd";
        </script>
    </ul>
</div>
<div class="top-bar">
    <div class = "convName">{{ active_group.name }}</div>
    <button id="btnAdd" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#newMember">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                </svg>
    </button>
    <input type="text" id="filter-messages" class="form-control" placeholder="Rechercher un message" aria-label="Search" />
    <form class="form-group" method="post" action="{{ url_for("messages", active_group_id=active_group.id) }}">
        <input id="btnQuit" class="btn btn-secondary" type="submit" name="quitGroup" value="Quitter">
    </form>
    <button id="btnMbr" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#convMembers">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                    <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                </svg>
        </button>
</div>
<div class="msg-section">

    {% for block in msg_chain(active_group) %}
        <div class="row">
            {% set sender = block[0].sender %}
            {% if sender!=current_user %}
                <!-- msg is from another user -->
                <div class="received-block">
                    <img class="pp" src="/static/profile_pics/{{ get_user_pp(sender) }}">
                    <div class="wrapper">
                        <h2 class="name">{{ sender.name }}</h2>
                        {% for msg in block %}
                            <div class="received-message">
                                <div class="text">
                                    <p>{{ msg.content }}</p>
                                </div>
                                {% for attachment in msg.attachments %}
                                    <a class="attachment-wrap"
                                       href="{{ url_for('static', filename = '/uploads/'+attachment.filename) }}"
                                       target="_blank">
                                        <img class="attachment"
                                             src="{{ url_for('static', filename = '/uploads/'+ attachment.filename)}}"
                                             alt="{{ attachment.filename }}"
                                        >
                                    </a>
                                {% endfor %}
                                <h3 class="date">{{ msg.date.strftime('%a | %H:%M') }}</h3>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <!-- msg is from current_user -->
                <div class="sent-block">
                    <div class="wrapper">
                        <h2 class="name" style="display: none">{{ current_user.name }}</h2>
                        {% for msg in block %}
                            <div class="sent-message">
                                <div class="text">
                                    <p>{{ msg.content }}</p>
                                </div>
                                {% for attachment in msg.attachments %}
                                    <a class="attachment-wrap"
                                       href="{{ url_for('static', filename = '/uploads/'+attachment.filename) }}"
                                       target="_blank">
                                        <img class="attachment"
                                             src="{{ url_for('static', filename = '/uploads/'+ attachment.filename)}}"
                                             alt="{{ attachment.filename }}"
                                        >
                                    </a>
                                {% endfor %}
                                <h3 class="date">{{ msg.date.strftime('%a | %H:%M') }}</h3>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
<div class="bottom-bar">
    <form action="{{ url_for("messages", active_group_id=active_group.id) }}" method="post" enctype="multipart/form-data">
        <input type="text" name="msg" placeholder="Votre message">
        <input type="file" name="file[]" multiple>
        <input type="submit" name="Envoyer" value="Envoyer">
    </form>
</div>

</body>